extends ../layouts/main-layout.pug
block content
    article.card.product-item   
        header.card__header
            h1.product__title #{product.title} 
        div.card__image
            img(src=product.imageUrl,alt="Image")
        div.card__content
            h2.product__price #{product.price}
            p.product__description #{product.description}
            p.product__description Available #{product.totalQty}
            if loggedInAs=="customer"    
                if product.totalQty > 0
                    form.product-form(action='/buynow', method="post")
                        input#title(type="hidden", name="id",value=product.id)
                        button.btn(type="submit") Buy Now
                else
                    form.product-form(action='/buynow', method="post")
                        input#title(type="hidden", name="id",value=product.id)
                        button.btn(type="submit",disabled="true") Out Of Stock
    script(type="text/javascript").
        
        function updateQty(qty)
        {
            document.getElementById('prodQty').innerHTML=qty;
        }
        function goto(val){
            window.location="/product-details/`"+val;
        }                                    